


body{

	font-family: 'Raleway', sans-serif;
	
}

h1,
h2,
h3,
h4,
h5,
h6{
	margin:0;
	font-weight: 700;
}

img{
	max-width: 100%;
}

a:hover{
	text-decoration: none;
	outline: 0;
}

a:focus{
	text-decoration: none;
	outline: 0;
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

#particles-js canvas{
	display: block;
	height: 100%;
	width: 100%;
}

.comming-soon{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	min-height: 100%;
	background: -webkit-linear-gradient(right,#490256,BLACK
	);
	padding: 40px 0;
	display: flex;
	align-items: center;
}

.coming-soon-box{
	width: 100%;
	text-align: center;
	position: relative;
	z-index: 3;
	 
}

.logo{
	text-align: center;
	display: flex;
	align-items: center;
}

.logo h1{
	color: #f2edec85;
	font-size: 55px;
	font-weight: bold;
	padding: 0 0 60px 110px;
}

.logo p{
	font-size: 55px;
	color: #ffffff80;
	text-transform: uppercase;
	letter-spacing: 0.0em;
	margin: 0;
	padding-bottom: 60PX;
}

.coming-text{
	padding: 0 0 30px 0;

}

.coming-text h2{
	font-size: 144px;
	color: #ffffff36;
	letter-spacing: 0.08em;
	text-transform: uppercase;
	padding: 40px 0 100PX 5px ; 
	font-weight: 100;
}

.social-link{
	text-align: center;
	padding: 32px 0 0 0;
}

.social-link a{
	display: inline-block;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	border: 2px solid #ffffff40;
	color:#ffffff85;
	font-size: 18px;
	padding-top: 8px;
	margin: 0 4px;
	transition: all 0.4s linear;
}

.social-link a:hover{
	background: #fff;
	color: #3dab87;
}

.newsletter{
	max-width: 746px;
	margin: 40px auto 0;
}

.newsletter p{
	color: #fff;
	font-size: 16px;
	line-height: 1.5em;
	letter-spacing: 0.02em;
}

.newsletter-form{
	background: rgba(255,255,255,0.1);
}

.new-text{
	height: 50px;
	border: none;
	display: inline-block;
	width: 72%;
	background: none;
	box-shadow: none;
	outline: 0;
	padding: 0 20px;
	font-size: 16px;
	color: #fff;
}

.new-text::-webkit-input-placeholder {
	color: #fff;
}

.new-text::-moz-placeholder {
	color: #fff;
}

.new-text:-ms-input-placeholder{
	color: #fff;
}

.new-text:-moz-placeholder {
	color: #fff;
}

.new-btn{
	height: 50px;
	border: none;
	display: inline-block;
	margin-left: -5px;
	width: 28%;
	background: rgba(255,255,255,0.3);
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 0.02em;
	font-weight: 600;
	outline: 0;
	transition: all 0.3s linear;
}

.new-btn .fa{
	margin-right: 10px;
}

.new-btn:hover{
	background: rgba(255,255,255,0.5);
}

.newsletter-form{
	margin-top: 30px;
}

/****************************************
		Responsive Media Query
****************************************/


@media only screen and (max-width:1024px){

	.comming-soon .container-fluid {
		 padding-right: 0px;
		 padding-left: 0px;}

	.logo{
		text-align: center;
		display: flex;
		align-items: center;
		padding-bottom: 10px; 
	}
	.logo h1{
		padding:0 0 60px 0; 
	}	
	
	.coming-text{
		padding: 30px 0;
	}
	
	.coming-text h2{
		font-size: 160px;
	}
	.comming-soon {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		min-height: 100%;
		background: -webkit-linear-gradient(right,#490256,BLACK
		);
		padding: 40px 0;
		display: flex;
		align-items: center;
		overflow: hidden;
	}
	.social-link a{
		width: 36px;
		height: 36px;
		padding-top: 6px;
		font-size: 16px;
	}
}

@media only screen and (max-width:768px){
	.comming-soon .container-fluid {
		padding-right: 0px;
		padding-left: 0px;}

	.new-text{
		display: block;
		width: 100%;
		background: rgba(255,255,255,0.1);
		margin-bottom: 20px;
	}
	.logo{
		text-align: center;
		align-items: center;
		padding-bottom: 10px; 
		flex-direction: column;
		display: flex;}

	.logo h1{
		font-size: 30px;
		padding: 0;
		font-size: 30px;
	}
	.logo .pipe{
		display: none;
	}
	
	.coming-text h2 {
		font-size: 100px;
		padding: 0 0 120px 0;
	}
	
	.newsletter-form{
		background: none;
	}
	
	.new-btn{
		width: 160px;
	}
	
	.comming-soon {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		min-height: 100%;
		background: -webkit-linear-gradient(right,#490256,BLACK
		);
		padding: 40px 0;
		display: flex;
		align-items: center;
		overflow: hidden;
	}

}

@media only screen and (max-width:480px){
	.comming-soon .container-fluid {
		padding-right: 0px;
		padding-left: 0px;}

	.logo{
		text-align: center;
		align-items: center;
		padding-bottom: 10px; 
		flex-direction: column;
		display: flex;
	}
	.logo p {
		padding: 0;
		font-size: 30px;
	}
	.logo h1{

	}
	.coming-text h2 {
		font-size: 70px;
		padding: 0;
	}
	
	.logo h1{
		font-size: 30px;
		padding: 0;
		font-size: 30px;
	}
	.logo .pipe{
		display: none;
	}
	
	
	.comming-soon {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		min-height: 100%;
		background: -webkit-linear-gradient(top,#490256,BLACK
		);
		padding: 40px 0;
		display: flex;
		align-items: center;
		overflow: hidden;
	}
	.newsletter p{
		font-size: 12px;
	}
	
	
	
	.new-text{
		height: 40px;
	}
	
	.new-btn{
		height: 40px;
	}
}

@media only screen and (max-width:320px){
	.comming-soon .container-fluid {
		padding-right: 0px;
		padding-left: 0px;}

	.logo{
		text-align: center;
		align-items: center;
		padding-bottom: 10px; 
		flex-direction: column;
		display: flex;
	}
	.logo p {
		padding: 0;
		font-size: 30px;
	}
	.logo .pipe{
		display: none;
	}
	.logo h1{

	}
	.coming-text h2 {
		font-size: 50px;
	}
	.comming-soon {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		min-height: 100%;
		background: -webkit-linear-gradient(top,#490256,BLACK
		);
		padding: 40px 0;
		display: flex;
		align-items: center;
	    overflow: hidden;
	}
	
}